### base config
### V0.0.1

# input file
FASTA=
OUTPUT_DIR=
SAMPLE_UNIQUE_NAME=
PROCESS=8

# genome 
GENOME_FA=/public/source/share/zcs/hg38.fa
GTF_ANNOTATION=/public/computing/home/cszhang/test/zcs/genome/hg38.gtf
GTF_DB=/public/source/share/zcs/data/GTF/hg38.ensembl.v20200306.1.pickle
# software
SAMTOOLS=samtools
USE_HISAT2=1
HISAT2=hisat2
HISAT2_INDEX=/public/source/share/zcs_temp/genome/hg38/hisat2/grch38_snp_tran/genome_snp_tran
USE_MINIMAP2=1
MINIMAP2=minimap2
USE_GMAP=0
GMAP=
GMAP_INDEX=

# optinal
TPM_LIST=
READ_LENGTH=100
READ_OVERLAP=80
MIN_READ_LENGTH=30
REPORT_IN_RUNNING=0

FA_SPLIT_SUFFIX=.split.fa
SAM_SUFFIX_HISAT2=.hisat2.sam
SAM_SORT_SUFFIX_HISAT2=.hisat2.nsort.sam
BED_SUFFIX_HISAT2=.hisat2.bed
SAM_SUFFIX_MINIMAP2=.minimap2.sam
SAM_SORT_SUFFIX_MINIMAP2=.minimap2.nsort.sam
BED_SUFFIX_MINIMAP2=.minimap2.bed
SAM_SUFFIX_GMAP=.gmap.sam
SAM_SORT_SUFFIX_GMAP=.gmap.nsort.sam
BED_SUFFIX_GMAP=.gmap.bed

ANNO_SUFFIX_1=.annot
